.bg-container {
  background: -o-linear-gradient(
    345.95deg,
    rgba(204, 0, 255, 0.15) 0.31%,
    rgba(235, 73, 219, 0.066) 28.63%,
    rgba(122, 132, 221, 0.108) 60.87%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    104.05deg,
    rgba(204, 0, 255, 0.15) 0.31%,
    rgba(235, 73, 219, 0.066) 28.63%,
    rgba(122, 132, 221, 0.108) 60.87%,
    rgba(255, 255, 255, 0) 100%
  );
  height: auto;
}

#fun-head {
  margin: 25px 10%;
  font-size: 2.5rem;
}

.fun-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(auto, 200px);
  grid-gap: 2rem;
  margin: 25px 10%;
}

#line-hr {
  margin: 25px 10%;
  height: 0.1rem;
  background-color: black;
  border-radius: 25px;
}

#quoteFun-1 {
  color: #6b2fca;
}
