/* .nav-container {
  position: sticky;
  top: 0;
  background: -o-linear-gradient(
    345.95deg,
    rgba(204, 0, 255, 0.15) 0.31%,
    rgba(235, 73, 219, 0.066) 28.63%,
    rgba(122, 132, 221, 0.108) 60.87%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    104.05deg,
    rgba(204, 0, 255, 0.15) 0.31%,
    rgba(235, 73, 219, 0.066) 28.63%,
    rgba(122, 132, 221, 0.108) 60.87%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color:rgba(20,19,26,1);

} */
.Nav {
  width: auto;
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: end;
  align-content: center;
}

.Nav span a {
  padding: 2rem;
  position: relative;
  right: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}
