.img-pjt {
  border-radius: 25px;
}

.link-btn {
  width: 8rem;
  height: 3rem;
  border: none;
  /* border: 1px solid rgb(254, 250, 236); */
  border-radius: 25px;
  cursor: pointer;
}

.link-btn:hover {
  background-color: rgb(185, 185, 211);
}

.link-btn a {
  text-decoration: none;
  color: black;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  display: flexbox;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: center;
  padding-bottom: 2rem;
}

#project-img {
  width: 30rem;
  height: 18rem;
}

.content-cont {
  margin-left: 4rem;
}
